/*STARTER CODE*/

/*
We have started some of the selectors for you.
For others we have provided hints on what the selectors should be.
There are some missing selectors.

Make sure to learn what the starter code does!!
*/

/*STARTER CODE - DO NOT CHANGE*/
main{
  margin-bottom: 100px;
}

caption{
  margin:5px 0px;
}

tr{
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

/*END STARTER CODE*/

body{
  font-family: 'Andika', sans-serif;
  color: #000000;
  font-size: 16px;
  margin: 1.2em;
  /* background-size: cover ; */
  /* background-position: center; */
  background-image: url(../images/pigeon-background.JPEG);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center; 
  background-color: #DDDDDD;

  /*Req 1*/
}

h1{
  color: #c12258;
  font-size: 2em;
  line-height: 200%;
  text-align: center;

  /*Req 2*/
}

p{
  /*Req 3*/
  padding-top: 15px;
}

a{
  /*Req 4*/'
  font-size: 16px;
  color: #B21F50;
  /* All three colors pass except normal AAA */
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

/*Req 5*/
/*Add selector and rule here*/
/* Is the universal selector needed? */
*:focus{
  border: 3px dashed #417243;
}


/*Req 6a*/
td{
  text-align: center;
  vertical-align: middle;
  border-top: 2px solid black;
  padding: 10px;
}

/*Req 6b*/
.colhead{
  color: #FFFFFF;
  background-color: #7e0820;
  min-width: 125px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}
/*Req 6c*/
.rowhead{
  border-right: 2px solid black;
  border-top: 2px solid black;

}

/*Req 6d*/
tr:nth-child(odd){
  background-color: transparent;
}
/*Req 6e*/
tr:nth-child(even){
  background-color: #D1D1D1;
}
/*Req 6f*/
tr:hover {
  background-color: rgba(126,8,32, .25);
  /* why does hex value and transparency not work? */
}

/*Req 7*/
table{
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 0 auto;
}

thead tr:first-child th:first-child{
  border-top-left-radius: 10px;
}

/*Add selectors and rules here*/

thead tr:last-child th:last-child{
  border-top-right-radius: 10px;
}

tbody tr:last-child th:first-child{
  border-bottom-left-radius: 10px;
}

tbody tr:last-child td:last-child{
  border-bottom-right-radius: 10px;
}

.rowhead {
  vertical-align: middle;
}


/*Req 8*/
footer{
  width:100%;
  min-height: 75px;
  background:#000000;
  text-align:center;
  color: #FFFFFF;
  position: fixed;
  bottom: 0;
  left: 0;
}

